* {
    background-color: #000000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    width: 30%;
    animation: spin 10s linear infinite;
    display: block;
}

.pedro {
    scale: 1.2;
    animation: bounce 200ms linear infinite alternate;
    width: 100%;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    } 
}

@keyframes bounce {
    to { translate: 0 20px; }
}

@keyframes spin {
    to { rotate: -1turn; }
}